<p id="notice"><%= notice %></p>

<h1>帳目表</h1>
<h3>March</h3>
<table class="table">
  <thead>
    <tr>
      <th>日期</th>
      <th>項目</th>
      <th>金額</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @money_costs3.each do |cost| %>
      <tr>
        <td><%= cost.cost_date %></td>
        <td><%= cost.title %></td>
        <td><%= cost.money %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tr>
    <td></td>
    <td>總計</td>
    <td><%= @money_total3 %></td>
    <td></td>
  </tr>
</table>

<br>

<h3>April</h3>
<table class="table">
  <thead>
    <tr>
      <th>日期</th>
      <th>項目</th>
      <th>金額</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @money_costs4.each do |cost| %>
      <tr>
        <td><%= cost.cost_date %></td>
        <td><%= cost.title %></td>
        <td><%= cost.money %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tr>
    <td></td>
    <td>總計</td>
    <td><%= @money_total4 %></td>
    <td></td>
  </tr>
</table>

<br>

<h3>May</h3>
<table class="table">
  <thead>
    <tr>
      <th>日期</th>
      <th>項目</th>
      <th>金額</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @money_costs5.each do |cost| %>
      <tr>
        <td><%= cost.cost_date %></td>
        <td><%= cost.title %></td>
        <td><%= cost.money %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tr>
    <td></td>
    <td>總計</td>
    <td><%= @money_total5 %></td>
    <td></td>
  </tr>
</table>

<br>

<h3>June</h3>
<table class="table">
  <thead>
    <tr>
      <th>日期</th>
      <th>項目</th>
      <th>金額</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @money_costs6.each do |cost| %>
      <tr>
        <td><%= cost.cost_date %></td>
        <td><%= cost.title %></td>
        <td><%= cost.money %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <tr>
    <td></td>
    <td>總計</td>
    <td><%= @money_total6 %></td>
    <td></td>
  </tr>
</table>

<br>


<%= link_to '新增', new_cost_path %>
